body {
  background-color: black;
  color: white;
 
}

div h1 {
  font-size: 55px;
}

div #Seattles_premiere {
  font-size: 2rem;
  color: #6A6A6A;
}

nav {
  height: 3.5rem;
  background-color: #a6a6a6;
  font-size: 1.5rem;
  word-spacing: 10px; 
}

aside {
  float: right;
  display: inline-block;
  border: 2px solid black;
  margin: 25px;
  padding: 5rem 1rem 20rem;
  height: 30rem;
  background-color: white;
  color: black;
}


article  {
  width: 70rem;
  height: 30rem;
}


article {
  display: inline-block;
  background-color:white;
  color: black;
  height: 45rem;
  float: left;
}

#bottom_div {
  clear: both;
}