body {
  background-color: black;
  color: white;
 
}

a {
  color: red
}
#top_div {
  text-align: right;
  font-size: 2rem;
  color: red;
}
div h1 {
  font-size: 55px;
}

div #Seattles_premiere {
  font-size: 2rem;
  color: #6A6A6A;
}

nav {
  height: 3.5rem;
  width: 103.7rem;
  background-color: #a6a6a6;
  font-size: 2rem;
  word-spacing: 10px;
  text-align: center;
  
}

aside {
  float: right;
  display: inline-block;
  border: 2px solid black;
  margin: 25px;
  padding: 5rem 1rem 20rem;
  
  background-color: white;
  color: black;
}


article  {
  width: 103.7rem;
  height: 30rem;
}


article {
  display: inline-block;
  background-color:white;
  color: black;
  height: 45rem;
  float: left;
}

#bottom_div {
  clear: both;
}
.bottom_foot {
  text-align:center
    
}